---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import Profile from "@components/Profile.astro";
import SubscribeForm from "@components/SubscribeForm.astro";
import { SOCIALS } from "@config";
import InteractivePfp from "@components/InteractivePfp.astro";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <script type="module" is:client>
    import initInteractivePfp from "/src/scripts/switchPfp.js";
    initInteractivePfp();
  </script>
  <Header />
  <main id="main-content">
    <section id="hero">
      <div class="flex flex-col md:flex-row items-start gap-8">
        <!-- <div class="grid justify-items-center md:justify-items-start"></div> -->
        <InteractivePfp
          images={[
            "/pfp/heatblast.png",
            "/pfp/goop.png",
            "/pfp/upgrade.png",
            "/pfp/diamondhead.png",
            "/pfp/four_arms.png",
            "/pfp/grey_matter.png",
            "/pfp/ghostfreak.png",
            "/pfp/wildmutt.png",
            "/pfp/ripjaws.png",
            "/pfp/stinkfly.png",
            "/pfp/xlr8.png",
          ]}
        />

        <div>
          <p>Always learning, ocassionally making things work.</p>

          {
            // only display if at least one social link is enabled
            socialCount > 0 && (
              <div class="social-wrapper justify-self-auto">
                <div class="social-links">Connect:</div>
                <Socials />
              </div>
            )
          }
          <p>
            I'm currently pursuing a B.S. in Mechanical Engineering with a
            combined M.S. in Electrical Engineering at Northwestern University.
            I'm broadly interested in the intersection of intelligent systems,
            embedded hardware, and physics. This site is a portfolio of my
            experience, projects, notes, and occasional blog posts, documenting
            what I build and learn along the way.
          </p>
          <SubscribeForm />
        </div>
      </div>
    </section>

    <Hr />

    <section class="mb-10">
      <div class="md:grid md:grid-cols-5 md:gap-8">
        <div class="resume col-span-2">
          <h2 class="resume-section">Experience</h2>
          <div class="grid grid-cols-3">
            <div class="institution">SoCo, Candid Photo Taker</div>
            <div class="duration">2024 - Present</div>
            <div class="position">Electrical Lead</div>

            <div class="institution">Northwestern Haptics Group</div>
            <div class="duration">2023 - Present</div>
            <div class="position">
              Undergraduate Researcher, Finger Stretch Characterization
            </div>

            <div class="institution">
              MIT Quantum & Precision Measurements Group
            </div>
            <div class="duration">2024</div>
            <div class="position">
              Visiting Scholar (UROP), Electrical Network Theory
            </div>

            <div class="institution">Omnid Research Group</div>
            <div class="duration">2023 - 2024</div>
            <div class="position">
              Undergraduate Researcher, PCB and Shielding Box Design
            </div>

            <div class="institution">Fermi National Accelerator Laboratory</div>
            <div class="duration">2021 - 2023</div>
            <div class="position">
              Student Researcher in Dark Photon and H<sup>±±</sup> Searches.
            </div>

            <div class="institution">Ross Mathematics Program</div>
            <div class="duration">2021, 2022</div>
            <div class="position">Junior Counselor / Dorm Lecturer</div>
          </div>
          <h2 class="resume-section">Education</h2>
          <div class="grid grid-cols-3">
            <div class="institution">Northwestern University</div>
            <div class="duration">2023 - 2027</div>
            <div class="position">B.S. MechE, M.S. ElecE</div>
            <div class="institution">
              Illinois Mathematics & Science Academy
            </div>
            <div class="duration">2020 - 2023</div>
            <div class="position">High School Diploma</div>
          </div>
        </div>

        <div class="md:col-span-3 md:justify-self-end">
          {
            featuredPosts.length > 0 && (
              <>
                <div id="featured">
                  <h2>Featured</h2>
                  <ul>
                    {featuredPosts.map(({ data, slug }) => (
                      <Card
                        href={`/posts/${slug}/`}
                        frontmatter={data}
                        secHeading={false}
                      />
                    ))}
                  </ul>
                </div>
                {/* {recentPosts.length > 0 && <Hr />} */}
              </>
            )
          }
        </div>
      </div>
    </section>

    {
      recentPosts.length > 0 && (
        <>
          <Hr />
          <section id="recent-posts">
            <h2>Recent Posts</h2>
            <ul>
              {recentPosts.map(
                ({ data, slug }, index) =>
                  index < 4 && (
                    <Card
                      href={`/posts/${slug}/`}
                      frontmatter={data}
                      secHeading={false}
                    />
                  )
              )}
            </ul>
          </section>
        </>
      )
    }

    <!-- <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div> -->
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  .resume {
    margin-top: 2em;
    font-family: Roboto, sans-serif;
    text-align: left;
  }

  .resume-section {
    @apply italic;
    font-size: 14pt;
    margin-top: 10pt;
  }

  .institution {
    @apply col-span-2;
    font-size: 12pt;
    font-weight: 400;
    margin-top: 4pt;
    border-bottom: none;
  }

  .duration {
    @apply justify-self-end self-center row-span-2;
    font-size: 10pt;
  }

  .position {
    @apply col-span-3;
    font-size: 9pt;
    font-weight: 100;
    margin-top: none;
    border-top: none;
    border-bottom: none;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
